@charset "utf-8";
/* CSS Document */
body,span{
    padding:0;
    margin:0;	
}#ab{ 
    width:1px;
    text-align: center;
    display: block;
    height:700px;
    opacity:0.2;
    overflow: hidden;
    position: absolute;
}
#ac{ 
   width:332px;
   height: 334px;
   opacity:0;
   position: absolute;
}

